* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::placeholder {
  opacity: 0.7;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
button:hover,
button:focus,
button:active {
  text-decoration: none;
  color: inherit;
}

.hide {
  visibility: hidden;
}

/* HEADER............................................ */

header {
  width: 100%;
  height: 650px;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.7) 10%,
      rgba(233, 246, 255, 0.7) 80%
    ),
    url(images/home.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

nav h2 {
}

nav div {
  padding: 10px 40px;
  display: flex;
  gap: 10px;
  border: solid rgb(251, 235, 93) 1px;
  border-radius: 30px;
}

nav div:hover {
  background-color: rgb(251, 235, 93);
}

nav div h5 {
}

nav div i {
  color: grey;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 28px;
}

.banner h1 {
  margin-top: 10px;
  padding: 8px;
  font-size: 40px;
}

.banner h3 {
  padding: 10px;
  margin-bottom: 29px;
  width: 80%;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.calc-container {
  width: 50%;
  padding: 12px;
  background-color: rgb(137, 204, 252);
  border-radius: 25px;
}

@media screen and (min-width: 2000px) {
  .calc-container {
    width: 35%;
  }
}

.calc-container h2 {
  padding: 10px;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-shadow: 2px 2px 5px rgb(113, 113, 113);
}

.input-container {
  padding: 10px;
  margin-top: 30px;
}

.input-container label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-right: 5px;
  color: white;
}

.input-container input {
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  margin-left: 5px;
  border-radius: 20px;
}

.calc-container button {
  padding: 18px 40px;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: rgb(251, 235, 93);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: black;
}

.calc-container button:hover {
  background-color: rgb(251, 231, 57);
}

/* TABLE WITH RESULTS................................. */
.table-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-section > i {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: green;
  font-size: 100px;
}

.table-section h2 {
  padding: 10px;
  margin-bottom: 30px;
}

.income-table {
  border: rgb(213, 213, 213) solid 1px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.income-table th {
  border: rgb(213, 213, 213) solid 1px;
  padding: 3px 12px;
}

.income-table td {
  border: rgb(213, 213, 213) solid 1px;
  padding: 3px 30px;
}

.table-container {
  padding: 10px;
  margin-top: 80px;
}

.avg-rent-table {
  padding: 10px;
}

/* tables that display rent average */
.avg-rent-table th {
  width: 100px;
  padding: 2px 0;
  border-bottom: solid grey 1px;
}

.avg-rent-table th:nth-child(3) {
  width: 300px;
  padding: 2px 0;
}

.avg-rent-table td {
  width: 100px;
  padding: 10px 0;
  text-align: center;
}

.avg-rent-table td:nth-child(3) {
  width: 300px;
  padding: 10px 0;
  text-align: center;
}

/* colored circles in table */
.cir {
  font-size: 13px;
  padding: 0 5px;
}

.one {
  color: rgb(80, 156, 255);
}

.two {
  color: rgb(255, 129, 129);
}

.three {
  color: rgb(132, 64, 132);
}

/* FOOTER.................................. */
footer {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background-color: gray;
}

/* TABLET SIZE CODE........................................................................................... */
@media only screen and (max-width: 820px) {
  /* HEADER............................................ */

  header {
    height: 790px;
  }

  nav {
    height: 13vh;
  }

  nav h2 {
  }

  nav div {
  }

  nav div:hover {
  }

  nav div h5 {
  }

  nav div i {
  }

  .banner {
  }

  .banner h1 {
    font-size: 50px;
  }

  .banner h3 {
    margin-bottom: 35px;
    font-size: 16px;
  }

  .calc-container {
    width: 80%;
    padding: 15px;
  }

  .calc-container h2 {
    padding: 15px;
    margin-top: 23px;
  }

  .input-container {
  }

  .input-container label {
  }

  .input-container input {
  }

  .calc-container button {
    padding: 18px 35px;
    margin-top: 43px;

    border-radius: 25px;
  }

  .calc-container button:hover {
  }

  /* TABLE WITH RESULTS................................. */
  .table-section {
  }

  .table-section > i {
    /* padding: 10px; */
    margin-top: 35px;
    margin-bottom: 30px;
    /* color: green; */
    font-size: 120px;
  }

  .table-section h2 {
    padding: 10px;
    margin-bottom: 35px;
  }

  .income-table {
    /* border: rgb(213, 213, 213) solid 1px; */
    font-size: 17px;
  }

  .income-table th {
    /* border: rgb(213, 213, 213) solid 1px; */
    padding: 4px 12px;
  }

  .income-table td {
    /* border: rgb(213, 213, 213) solid 1px; */
    padding: 4px 30px;
  }

  .table-container {
  }

  .avg-rent-table {
    padding: 5px;
  }

  /* tables that display rent average */
  .avg-rent-table th {
  }

  .avg-rent-table th:nth-child(3) {
  }

  .avg-rent-table td {
  }

  .avg-rent-table td:nth-child(3) {
  }

  /* colored circles in table */
  .cir {
  }

  .one {
    /* color: rgb(80, 156, 255); */
  }

  .two {
    /* color: rgb(255, 129, 129); */
  }

  .three {
    /* color: rgb(132, 64, 132); */
  }

  /* FOOTER.................................. */
  footer {
    margin-top: 80px;
  }
}

/* PHONE RESPONSIVE CODE */

@media only screen and (max-width: 600px) {
  /* HEADER............................................ */

  header {
    height: 780px;
  }

  nav {
    height: 15vh;

    padding: 0 2rem;
  }

  nav h2 {
  }

  nav div {
    gap: 15px;
  }

  nav div:hover {
  }

  nav div h5 {
  }

  nav div i {
  }

  .banner {
    padding: 7px;
  }

  .banner h1 {
    margin-top: 55px;

    font-size: 38px;
  }

  .banner h3 {
    margin-top: 17px;
    margin-bottom: 45px;
    font-size: 16px;
  }

  .calc-container {
    width: 95%;
  }

  .calc-container h2 {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
  }

  .input-container {
  }

  .input-container label {
    display: block;

    font-size: 18px;
    margin-bottom: 10px;

    line-height: 1.5;
  }

  .input-container input {
    font-size: 16px;
  }

  .calc-container button {
    padding: 18px 55px;
    margin-top: 55px;
    margin-bottom: 33px;
  }

  .calc-container button:hover {
  }

  /* TABLE WITH RESULTS................................. */
  .table-section {
    margin-top: 170px;
    padding: 5px;
  }

  .table-section > i {
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .table-section h2 {
    margin-bottom: 35px;
    text-align: center;
    line-height: 1.5;
  }

  .income-table {
  }

  .income-table th {
  }

  .income-table td {
  }

  .table-container {
    padding: 5px;
  }

  .avg-rent-table {
  }

  /* tables that display rent average */
  .avg-rent-table th {
    width: 150px;
  }

  .avg-rent-table th:nth-child(3) {
    width: 250px;
  }

  .avg-rent-table td {
  }

  .avg-rent-table td:nth-child(3) {
    width: 250px;
  }

  /* colored circles in table */
  .cir {
  }

  .one {
  }

  .two {
  }

  .three {
  }

  /* FOOTER.................................. */
  footer {
    margin-top: 100px;
  }
}
